html{
    font-size:20px;
}

body {
    font-family: "Arial", "Meiryo", sans-serif;
  }

  .google-fonts {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.2em;
    position: relative;
    display: inline-block;
    letter-spacing: 1.5;
    text-decoration: underline;  
  }


h1 {
   font-family: Josefin Sans , sans-serif;
   text-align: center;
   text-shadow: 1px 1px 2px gray;
   font-size:2rem ;
   letter-spacing:  1.2em;
  }

.text-skyblue {color: skyblue}

.text-pink{color: rgb(255, 192, 203)}

.line {
  border-bottom: 3px solid rgb(115, 115, 114);
}

h2 {text-align :center}

p {text-align :center}

#basic p {
  font-weight: bold;
}


